.pagination {
    display: flex;
    justify-content: center;
    margin-top: 8rem;

    @include braekpoint($tablet-bp) {
        margin-top: 5rem;
    }
}

.pagination__item {
    margin: 0 .5rem;
}

.pagination__link {
    display: block;
    width: 4rem;
    height: 4rem;
    background-color: #0d0d0d;
    border-radius: 3px;
    line-height: 4rem;
    font-size: 1.4rem;
    color: $white;
    text-align: center;
    text-decoration: none;

    &:hover {
        background-color: lighten( #0d0d0d, 2%);
    }

    &.active {
        background-color: $blue;
    }
}