<div class="modal" id="contact-modal">
    <div class="modal__content modal__content--contact">
        <button class="modal__cancel" type="button">
            <img src="assets/images/cancel.svg" alt="cancel">
        </button>
        <form action="/" method="POST" class="form">
            <div class="form__group--md">
                <input type="name" class="form__control" placeholder="Ваше имя" value="Рустам Ботобаев">
                <span class="form__line"></span>
            </div>
            <div class="form__group--md">
                <input type="email" class="form__control" placeholder="Ваше e-mail">
                <span class="form__line"></span>
            </div>
            <div class=" form__group form__group--md">
                    <textarea class="form__control form__control--textarea" placeholder="Текст сообщения"></textarea>
                <span class="form__line"></span>
            </div>
            <div class="form__footer">
                <div class="form__group--md">
                <button class="btn btn--blue btn--rounded" type="submit">Отправить</button></div>
            </div>
        </form>
        <ul class="modal__footer">
            <li>
            e-mail: <a href="mailto:dejavu1510@gmail.com">Dejavu1510@gmail.com</a>
        </li>
        <li>
        тел: <a href="tel:+79779313786">+7 977 931-37-86</a>
    </li>
        </ul>
    </div>
</div>