
<div class="modal">
    <div class="modal__content">
        <button class="modal__cancel" type="button">
            <img src="assets/images/cancel.svg" alt="cancel">
        </button>
        <ul class="social">
            <li class="social__item"><a href="" class="social__link"><img src="assets/images/facebook.svg" alt=""></a></li>
            <li class="social__item"><a href="" class="social__link"><img src="assets/images/twitter.svg" alt=""></a></li>
            <li class="social__item"><a href="" class="social__link"><img src="assets/images/vk.svg" alt=""></a></li>
            <li class="social__item"><a href="" class="social__link"><img src="assets/images/copy.svg" alt=""></a></li>
        </ul>
    </div>
</div>